/* header style */
header{
    margin: 0px;
    padding: 0px;
}
.images-header{
    border-radius: 16px;
background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.whole{
    position: relative;
    text-align: center;
}

}

/* main style */

.differce-in-section{
    margin: 700px;
}

.off-sec{
    color: rgb(241, 11, 11);
text-align: center;
font-family: Inter;
font-size: 80px;
font-weight: 500;
}
.section-description{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 90px;
}
.holiday{
    color:rgb(241, 11, 11) ;
    font-size: medium;
}
.catagories{
    color: #070211;
text-align: center;
font-size: 30px;
font-weight: 700;

}
/* welcom styles */
.wel-party {
    background-image: url('../Vectorrr.png');

    width: 1320px;
height: 600px;
margin: auto;

}

.wel-tittle{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
padding: 120px 500px 1px 120px;
}
.wel-description{
    color: white;
font-size: 18px;
font-weight: 150;
padding-left: 120px;
padding-right: 400px;

}
.btn {
    color: rgb(141, 47, 47);

text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
}
.btn-primary {
    padding-left: 120px;
    border: none;
    box-shadow: none;
}
.side-image {
    margin-left: 900px;
    padding-top: 20px;
}

.opt {
    background-image: url('../assets/design');
}