.bg-img{
    font-family: Merriweather;
width: 1320px;
height: 600px;
margin: 0% auto;
border-radius: 16px;
background-image: url('../Banner\ Image.png');
background:  rgba(0, 0, 0, 0) 100%);



}
.background-tittle{
    color: cyan;
    text-align: center;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 150PX;
}

.background-wr{
    color: cyan;
text-align: center;
font-family: Merriweather;
font-size: 75px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
width: 632px;
padding-left: 350px;
}
.background-tittle .background-wr{
    justify-content: space-around;
}
]

}

/* main style */
.differce-in-section{
    margin: 700px;
}

.off-sec{
    color: rgb(241, 11, 11);
text-align: center;
font-family: Inter;
font-size: 80px;
font-weight: 500;
}
.section-description{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 90px;
}
.holiday{
    color:rgb(241, 11, 11) ;
    font-size: medium;
}
.catagories{
    color: #070211;
text-align: center;
font-size: 30px;
font-weight: 700;

}
.distance{
    margin: 50px;
}
